{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>
    {% for flash_success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash_success }}</div>
    {% endfor %}
    {{ form_start(changePasswordForm) }}
        {{ form_row(changePasswordForm.oldPassword) }}
        {{ form_row(changePasswordForm.newPassword) }}
        {{ form_row(changePasswordForm.confirmPassword) }}
        <button type="submit" class="btn btn-primary">Change Password</button>
    {{ form_end(changePasswordForm) }}
{% endblock %}
